$colorHint: #7e7e7e;
$colorDefault: #000000;
$colorBorder: #d9d9d9;
$colorAccent: #ff5555;
$colorBackground: #ffffff;
$colorStar: #ff9432;
$colorLinkHover: #208fbf;
$colorDisabled: #f9f9f9;

$sizeAvatar: 80px;
$sizeRadius: 6px;
