<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>kts homework 1</title>
	<link rel="stylesheet" href="resetStyle.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="indexStyle.css">

</head>
<body>
	<div class="page">
		<div class="page__search search">
			<input type="text" class="search__input" placeholder="Введите название организации">
			<button class="search__button"><span class="material-icons search__icon">search</span></button>
		</div>
		<div class="page__list list">
			<div class="list__card card">
				<div class="card__avatar">
					<img class="card__img" src="">
					<div class="card__letter">K</div>
				</div>
				<div class="card__content">
					<div class="card__title">kts-school-frontend</div>
					<div class="card__author">ktsstudio</div>
					<div class="card__info">
						<div class="card__stars"><span class="material-icons card__star-icon">star_border </span>123</div>
						<div class="card__data">Updated 21 Jul</div>
					</div>
				</div>
			</div>

			<div class="list__card card">
				<div class="card__avatar">
					<img class="card__img" src="https://placekitten.com/80/80">
					<div class="card__letter">K</div>
				</div>
				<div class="card__content">
					<div class="card__title">kts-school</div>
					<div class="card__author">ktsstudio</div>
					<div class="card__info">
						<div class="card__stars"><span class="material-icons card__star-icon">star_border </span>1</div>
						<div class="card__data">Updated 21 Jul</div>
					</div>
				</div>
			</div>

			<div class="list__card card">
				<div class="card__avatar">
					<img class="card__img" src="https://placekitten.com/100/100">
					<div class="card__letter">K</div>
				</div>
				<div class="card__content">
					<div class="card__title">kts</div>
					<div class="card__author">ktsstudio</div>
					<div class="card__info">
						<div class="card__stars"><span class="material-icons card__star-icon">star_border </span>12</div>
						<div class="card__data">Updated 21 Jul</div>
					</div>
				</div>
			</div>

			<div class="list__card card">
				<div class="card__avatar">
					<img class="card__img" src="">
					<div class="card__letter">K</div>
				</div>
				<div class="card__content">
					<div class="card__title">very-long-repository-name-and-very-long-repository</div>
					<div class="card__author">ktsstudio</div>
					<div class="card__info">
						<div class="card__stars"><span class="material-icons card__star-icon">star_border </span>123456</div>
						<div class="card__data">Updated 21 Jul</div>
					</div>
				</div>
			</div>

			<div class="list__card card">
				<div class="card__avatar">
					<img class="card__img" src="https://placekitten.com/65/65">
					<div class="card__letter">K</div>
				</div>
				<div class="card__content">
					<div class="card__title">kts-school-frontend</div>
					<div class="card__author">ktsstudio</div>
					<div class="card__info">
						<div class="card__stars"><span class="material-icons card__star-icon">star_border </span>8 000 000 000</div>
						<div class="card__data">Updated 21 Jul</div>
					</div>
				</div>
			</div>

			<div class="list__card card">
				<div class="card__avatar">
					<img class="card__img" src="">
					<div class="card__letter">K</div>
				</div>
				<div class="card__content">
					<div class="card__title">kts-school-frontend</div>
					<div class="card__author">ktsstudio</div>
					<div class="card__info">
						<div class="card__stars"><span class="material-icons card__star-icon">star_border </span>123</div>
						<div class="card__data">Updated 21 Jul</div>
					</div>
				</div>
			</div>

			<div class="list__card card">
				<div class="card__avatar">
					<img class="card__img" src="https://placekitten.com/150/150">
					<div class="card__letter">K</div>
				</div>
				<div class="card__content">
					<div class="card__title">very-very-very-very-long-repository-name</div>
					<div class="card__author">ktsstudio</div>
					<div class="card__info">
						<div class="card__stars"><span class="material-icons card__star-icon">star_border </span>123</div>
						<div class="card__data">Updated 21 Jul</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>